/* Шрифт */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #45526C;
    text-decoration: none;
}
